@charset "UTF-8";
/* CSS Variables */
:root {
  --primary-color:#442A8B;
  --secondary-color: #3A92A7;
  --secondary-color-variant: #0E404F;
  --tertiary-color: #FF672F;
  --tertiary-color-variant: #FF5C29;
  --gray-color: #DEDEDE;
  --bg-gradient: linear-gradient(359.43deg, #DBDDDB 0.49%, rgba(219, 221, 219, 0) 104.37%);
  /* --box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

/* General Styles */
/* body {
    margin: 10px 40px;
} */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Typography */
h1 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: var(--primary-color);
}
@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 56px;
  }
}
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 33px;
}
@media only screen and (min-width: 1600px) {
  h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 28px;
  font-weight: 600;
}
@media only screen and (min-width: 1600px) {
  h3 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 21px;
  }
}

h4 {
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 25px;
  color: #4D4D4F;
}
@media only screen and (min-width: 1600px) {
  h4 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 19px;
  }
}

h5, .h5 {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 16.8px;
}

p, .p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 16.8px;
}

.helper {
  font-size: 0.8em;
  line-height: 17px;
  font-family: "Open Sans", sans-serif;
}

.copyright {
  font-size: 0.7em;
  font-family: "Open Sans", sans-serif;
  line-height: 13px;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

.stacked-superscript {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  font-size: 60px;
  font-weight: 600;
  position: relative;
}
.stacked-superscript span {
  position: absolute;
  font-size: 21px;
  bottom: 5px;
  right: 10px;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.secondary-variant {
  color: var(--secondary-color-variant);
}

.tertiary {
  color: var(--tertiary-color);
}

.tertiary-variant {
  color: var(--tertiary-color-variant);
}

.light {
  font-weight: 300;
}

.semibold, strong {
  font-weight: 600;
}

.hidden {
  display: none;
}

/* Header */
header {
  z-index: 3;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

/* Indications and Usage */
.indications {
  padding: 10px 0;
  border-bottom: 2px solid black;
}
@media only screen and (max-width: 1200px) {
  .indications {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.indications__title {
  padding: 0 40px;
  color: #0E404F;
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.indications__body {
  padding: 0 40px;
  font-size: 14px;
  line-height: 21.79px;
}

/* Nav (Logo and buttons) */
.nav {
  padding: 10px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1600px) {
  .nav {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 1200px) {
  .nav {
    flex-direction: column;
    padding: 10px 0;
  }
  .nav .nav__buttons {
    align-items: center;
    width: 100%;
  }
  .nav .nav__logo {
    display: none;
  }
  .nav .mobile__logo {
    display: block;
    padding: 15px;
  }
  .nav .mobile__button {
    display: block;
    width: 100%;
    background-color: #166176;
    padding: 5px;
    border: none;
  }
  .nav .mobile__button img {
    width: 20px;
  }
  .nav .site-buttons {
    margin: 0;
  }
  .nav .site-buttons:after {
    display: none;
  }
}

.mobile__logo {
  display: none;
}

.mobile__button {
  display: none;
}

.nav__buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.site-buttons {
  display: flex;
  position: relative;
  margin-top: -10px;
  margin-right: 50px;
}
@media only screen and (max-width: 1200px) {
  .site-buttons {
    padding: 0 10px;
  }
}

/* Orange Line behind Site-Buttons */
.site-buttons:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: var(--tertiary-color-variant);
  content: "";
  margin: 0 -150px;
  width: 130%;
  display: block;
  z-index: -1;
}

.site-buttons__button {
  max-width: 250px;
  min-width: 140px;
  min-height: 30px;
  text-align: center;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
  color: #4D4D4D;
  background-color: #E6E6E6;
  border-bottom: 1px solid var(--tertiary-color-variant);
  border-right: 1px solid var(--tertiary-color-variant);
}
@media only screen and (max-width: 1200px) {
  .site-buttons__button {
    max-width: 177px;
    min-width: 80px;
    height: 18px;
  }
}

.site-buttons__button.button--orange {
  background-color: var(--tertiary-color-variant);
  color: #fff;
}

/* Nav Links and Dropdown Menus */
.navlinks {
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .navlinks {
    flex-direction: column;
    display: none;
    width: 100%;
    border-bottom: 3px solid #166176;
    padding-top: 0;
  }
  .navlinks .navlinks__link {
    font-size: 18px;
    line-height: 36px;
    width: 100%;
  }
  .navlinks .navlinks__link br {
    display: none;
  }
}

.navlinks li {
  border-bottom: 2px solid #CAAEE0;
  padding: 6px;
  margin: 0 8px;
  max-width: 100px;
  min-width: 90px;
}
.navlinks li.active {
  border-bottom: 2px solid var(--primary-color);
}
@media only screen and (max-width: 1200px) {
  .navlinks li.active {
    line-height: 36px;
    border-bottom: 2px solid #CAAEE0;
  }
  .navlinks li.active a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1200px) {
  .navlinks li {
    max-width: 100%;
    text-align: center;
  }
  .navlinks li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.navlinks__link {
  color: black;
}

.navlinks__link--active {
  color: var(--primary-color);
  font-weight: 600;
}

.navlinks li:hover .dropdown {
  z-index: 5;
  display: none;
  color: var(--primary-color);
}

.dropdown {
  display: none;
  padding: 6px;
  width: 104px;
  margin-left: -10px;
  background-color: #fff;
  position: absolute;
}

.dropdown li {
  border-left: none;
}

/* Main */
main {
  margin-bottom: 30px;
  margin-top: 242px;
  padding: 10px 80px;
}
@media only screen and (max-width: 1200px) {
  main {
    margin-top: 360px;
    padding: 10px 20px;
  }
}
main h2, main h3, main h4, main h5, main p {
  padding: 15px;
  text-align: center;
}
main ul {
  padding: 0 15px;
  position: relative;
}
main ul li::before {
  content: "•";
  position: relative;
  top: 45px;
  color: #0E404F;
}
main ul li {
  margin-top: -40px;
  line-height: 28px;
}
main ul li h4 {
  text-align: left;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}
@media only screen and (max-width: 1200px) {
  .tabs {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}
.tabs .tab {
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  text-align: center;
  border: 1px solid #166176;
  color: #166176;
  padding: 10px;
  opacity: 0.5;
}
@media only screen and (max-width: 1200px) {
  .tabs .tab {
    font-size: 14px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tabs .tab--active {
  opacity: 1;
  border: 2px solid #166176;
}
.tabs .tab--active-variant {
  opacity: 1;
  border: 2px solid #1D819E;
  color: #1D819E;
}

.button {
  font-size: 21px;
  min-width: 114px;
  max-width: 150px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background: #166176;
  color: #fff;
  padding: 12px 24px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}
.button i {
  padding: 0 10px;
  align-self: center;
}

.button.secondary {
  background: var(--secondary-color);
}

.button-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-group .justify-right {
  margin-left: auto;
}

/* Footer (ISI) */
footer {
  width: 100%;
  position: fixed;
  background: #fff;
  margin: 0;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
footer section {
  padding: 0px 50px 50px 50px;
}
footer section h5 {
  margin-top: 20px;
}
footer section p {
  margin-top: 10px;
}
footer section a {
  text-decoration: underline;
}
footer section a p {
  margin-bottom: 40px;
}
footer section ul {
  padding: 0 15px;
  position: relative;
}
footer section ul li::before {
  content: "•";
  position: relative;
  top: 35px;
  left: -10px;
  color: var(--primary-color);
}
footer section ul li {
  margin-top: -40px;
  line-height: 28px;
}
footer section ul li p {
  text-align: left;
  padding: 5px;
}
footer .warnings-and-precautions p {
  margin-bottom: 25px;
  margin-top: 5px;
}
footer .specific-populations p {
  margin-bottom: 25px;
  margin-top: 5px;
}
footer .footer__bottom {
  border-top: 2px solid #166176;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  footer .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .footer__bottom img {
  width: 228px;
}

.footer-down {
  transform: translateY(120px);
}

.isi {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* width: 80%; */
  padding: 15px 50px;
}

.isi__header {
  color: var(--tertiary-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-top: 0;
}

.isi__body--bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: block;
  line-height: 17px;
}

.isi__body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  margin-top: 0;
}

.isi__button {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  min-width: 100px;
  font-size: 14px;
  color: var(--tertiary-color);
  text-decoration: none;
}

main p {
  text-align: left;
}
main h2, main h3 {
  text-align: left;
}
main h4 {
  text-align: left;
  font-weight: normal;
}
@media only screen and (max-width: 1200px) {
  main h2, main h3, main h4 {
    text-align: center;
    align-self: center;
  }
}

.timeline {
  display: flex;
  justify-content: center;
}
.timeline .timeline__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 250px;
}
.timeline .timeline__item h4 {
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .timeline {
    flex-direction: column;
    align-items: center;
  }
  .timeline .timeline__item:nth-child(2n) {
    transform: rotate(90deg);
    padding: 25px;
  }
}

.toxicity {
  display: flex;
  justify-content: center;
}
.toxicity .toxicity__item:first-child {
  width: 50%;
}
.toxicity .toxicity__item:first-child h4 {
  text-align: left;
}
.toxicity .toxicity__item {
  padding: 10px;
}
.toxicity .toxicity__item .center {
  text-align: center;
}
.toxicity .toxicity__item ul ul {
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 15px;
}
.toxicity .toxicity__item ul ul li {
  margin: 15px;
}
.toxicity .toxicity__item ul ul li:before {
  margin-left: -0.5em;
  content: "-";
  position: relative;
  top: 0px;
}
@media only screen and (max-width: 1200px) {
  .toxicity {
    flex-direction: column;
    align-items: center;
  }
  .toxicity .toxicity__item:first-child {
    width: auto;
  }
}

.box {
  width: 545px;
}
.box .box__header {
  background: #1D819E;
}
.box .box__header h4 {
  color: white;
  text-align: center;
}
.box .box__content {
  background: white;
  background: -moz-linear-gradient(0deg, white 0%, rgba(29, 129, 158, 0.5) 100%);
  background: -webkit-linear-gradient(0deg, white 0%, rgba(29, 129, 158, 0.5) 100%);
  background: linear-gradient(0deg, white 0%, rgba(29, 129, 158, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#1d819e",GradientType=1);
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .box__content h5 {
  color: #0E404F;
  font-size: 21px;
}
.box .box__content h5 span {
  display: block;
}
.box .box__content h5 .jumbo {
  font-size: 36px;
  line-height: 43px;
  padding: 5px;
}
.box.darker .box__header {
  background: #166176;
}
.box.darker .box__content {
  background: white;
  background: -moz-linear-gradient(0deg, white 0%, rgba(22, 97, 118, 0.5) 100%);
  background: -webkit-linear-gradient(0deg, white 0%, rgba(22, 97, 118, 0.5) 100%);
  background: linear-gradient(0deg, white 0%, rgba(22, 97, 118, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#166176",GradientType=1);
}
.box.darkest .box__header {
  background: #0E404F;
}
.box.darkest .box__content {
  background: white;
  background: -moz-linear-gradient(0deg, white 0%, rgba(14, 64, 79, 0.5) 100%);
  background: -webkit-linear-gradient(0deg, white 0%, rgba(14, 64, 79, 0.5) 100%);
  background: linear-gradient(0deg, white 0%, rgba(14, 64, 79, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#0e404f",GradientType=1);
  height: 83px;
}
.box.darkest .box__content h4 {
  color: #0E404F;
}

.modifications {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}
@media only screen and (max-width: 1200px) {
  .modifications {
    flex-direction: column;
  }
}
.modifications h4 {
  text-align: left;
}
.modifications .mod-item {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.modifications .mod-item h4 {
  text-align: center;
}
.modifications .mod-item .boxes {
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .modifications .mod-item .boxes {
    flex-direction: column;
    align-items: center;
  }
}
.modifications .mod-item .boxes .box {
  width: 382px;
  padding: 20px;
}
.modifications .mod-item .boxes .box .box__header {
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bounding_box {
  border-top: 2px solid #1D819E;
  margin-top: 25px;
  padding-top: 15px;
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .bounding_box {
    flex-direction: column;
  }
}
.bounding_box .bb_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  .bounding_box .bb_item {
    width: 100%;
  }
}
.bounding_box .bb_item h4 {
  text-align: left;
  width: 80%;
}
.bounding_box .bb_item:first-child {
  border-right: 2px solid #1D819E;
}
@media only screen and (max-width: 1200px) {
  .bounding_box .bb_item:first-child {
    border: none;
  }
}
.bounding_box .bb_item .item__content {
  display: flex;
  width: 90%;
  align-items: flex-start;
  padding: 25px;
}
@media only screen and (max-width: 1200px) {
  .bounding_box .bb_item .item__content {
    flex-direction: column;
    align-items: center;
  }
}
.bounding_box .bb_item .item__content img {
  padding: 15px;
}
.bounding_box .bb_item .item__content h4 {
  width: 60%;
}
@media only screen and (max-width: 1200px) {
  .bounding_box .bb_item .item__content h4 {
    width: auto;
  }
}

.storage-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 685px;
  margin: 0 auto;
  padding: 25px;
}
.storage-figure h3 {
  text-align: left;
  padding: 25px;
  padding-left: 0%;
}
@media only screen and (max-width: 1200px) {
  .storage-figure h3 {
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  .storage-figure {
    width: auto;
  }
}
.storage-figure .figure-data {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .storage-figure .figure-data {
    flex-direction: column;
  }
  .storage-figure .figure-data img {
    padding: 25px;
  }
}

.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  border-bottom: 2px solid #1D819E;
}
.instructions ul {
  width: 807px;
}
.instructions img {
  padding: 25px;
}
@media only screen and (max-width: 1200px) {
  .instructions {
    flex-direction: column;
  }
  .instructions ul {
    width: 100%;
  }
  .instructions.reverse {
    flex-direction: column-reverse;
  }
}

.instruction-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  .instruction-items {
    flex-direction: column;
  }
  .instruction-items .instruction-item:nth-child(2n) {
    flex-direction: column-reverse;
  }
}
.instruction-items .instruction-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  min-width: 320px;
  margin: 25px;
  padding: 15px;
}
.instruction-items .instruction-item h4 {
  text-align: center;
}
.instruction-items .instruction-item img {
  padding: 15px;
}
.instruction-items .instruction-item:nth-child(2) {
  border-left: 2px solid #1D819E;
  border-right: 2px solid #1D819E;
}
@media only screen and (max-width: 1200px) {
  .instruction-items .instruction-item:nth-child(2) {
    border: none;
    border-top: 2px solid #1D819E;
    border-bottom: 2px solid #1D819E;
  }
}

/*# sourceMappingURL=dosing.css.map */
